<h2>Welcome to dice.show</h2>
<div id="home-app">

	<!--cookie or local storage for the list of logs you've created? -->


	<h3>Make a new dice log</h3>
	<form>
		<fieldset>
			<legend>Create a new </legend>
			<label for="new-log-name">Pick a name for your new dice log</label>
			<input id="new-log-name" v-bind:value="logname" />
		</fieldset>


	</form>

	<!--what do I want the home page to look like?
what does it need? 

needs to have the call to action to do the thing
needs a clear statement of usefulness. 

nice to have an animated display of what using  the dice log is like

there's not much to the experience, so we can likely get away with
having the new dice log form on the home page. 


The form

text [name your dice log]
call to action button [Start your Dice Log today]

then a followup form with  optional email, password, and discount fields after you hit the call to action. With a pay with paypal button

If we can send the log url in the paypal reciept then we wouldn't even need to ask for an email. 




to be clear about expectations, we want people to know what's about to happen
you'll get a link to your new dice log 



-->


</div>


@section scripts {
<script src="~/js/home.js" asp-append-version="true"></script> }