<!DOCTYPE html>
<html>
	<head>
		<!--script for signalr, jquery, bootstrap and knockout -->
        <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
			<script src="~/bower_components/signalr/dist/jquery.signalR.min.js"></script>
        <script src="~/bower_components/knockout/dist/knockout.js"></script>
        <script src="signalr/hubs"></script>
	</head>

	<body>
		<h1>Hello World!</h1>
	</body>
</html>
